.loading-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #44444478;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 999;
  .loading {
    width: 100px;
    height: 100px;
    border: 1px solid white;
    border-width: 3px;
    border-color: white transparent;
    border-radius: 50%;
  }
}
