@include mobile {
  .setting-bar {
    position: fixed;
    right: 0;
    background: #e3e3e3;
    z-index: 1;
    height: 310px;
    width: 240px;
    border: 1px solid black;
    border-top: 5px solid black;

    &.hide {
      display: none;
    }
    .form-container {
      @include flex(column, center, center);
      .input-container {
        margin: {
          left: 5px;
          right: 5px;
          top: 5px;
        }
        .upbit-api,
        .upbit-secret,
        .binance-api,
        .binance-secret {
          border: 1px solid gray;
          margin-left: 2px;
        }
        .upbit-btn,
        .binance-btn {
          @include default-btn;
          @include boxShadow;
          margin-left: 2px;
        }
        input {
          width: 90px;
        }
        .clear-all-btn {
          width: 100%;
          @include primary-btn;
          @include boxShadow;
        }
      }
      .setting-container {
        @include flex(column, center, center);
        margin: 5px;
        .percentage-input {
          width: 95px;
          border: 1px solid gray;
        }
        .percentage-btn {
          @include primary-btn;
          @include boxShadow;
          margin-left: 2px;
        }
        .percentage-cancel {
          @include default-btn;
          @include boxShadow;
          margin-left: 2px;
        }
      }
    }
    label {
      font-size: 0.6rem;
    }
  }
}
@include tablet {
  .setting-bar {
    position: fixed;
    right: 15px;
    top: 40px;
    background: #e3e3e3;
    z-index: 1;
    border: 1px solid black;
    border-top: 5px solid black;
    width: 260px;
    &.hide {
      display: none;
    }
    .form-container {
      @include flex(column, center, center);
      .input-container {
        margin: {
          left: 5px;
          right: 5px;
          top: 5px;
        }
        .upbit-api,
        .upbit-secret,
        .binance-api,
        .binance-secret {
          border: 1px solid gray;
          margin-left: 2px;
        }
        .upbit-btn,
        .binance-btn {
          @include default-btn;
          @include boxShadow;
          margin-left: 2px;
        }
        input {
          width: 90px;
        }
        .clear-all-btn {
          width: 100%;
          @include primary-btn;
          @include boxShadow;
        }
      }
      .setting-container {
        @include flex(column, center, center);
        margin: 5px;
        .percentage-input {
          width: 95px;
        }
        .percentage-btn {
          @include primary-btn;
          @include boxShadow;
          margin-left: 2px;
        }
        .percentage-cancel {
          @include default-btn;
          @include boxShadow;
          margin-left: 2px;
        }
      }
    }
    label {
      font-size: 0.6rem;
    }
  }
}
@include desktop {
  .setting-bar {
    position: fixed;
    right: 15px;
    top: 40px;
    background: #e3e3e3;
    z-index: 1;
    border: 1px solid black;
    border-top: 5px solid black;
    &.hide {
      display: none;
    }
    .form-container {
      @include flex(column, center, center);
      .input-container {
        margin: {
          left: 5px;
          right: 5px;
          top: 5px;
        }
        input {
          width: 90px;
        }
        .upbit-api,
        .upbit-secret,
        .binance-api,
        .binance-secret {
          border: 1px solid gray;
          margin-left: 2px;
        }
        .upbit-btn,
        .binance-btn {
          @include default-btn;
          @include boxShadow;
          margin-left: 2px;
        }
        .clear-all-btn {
          width: 100%;
          @include primary-btn;
          @include boxShadow;
        }
      }
      .setting-container {
        @include flex(column, center, center);
        margin: 5px;
        .percentage-input {
          width: 95px;
        }
        .percentage-btn {
          @include primary-btn;
          @include boxShadow;
          margin-left: 2px;
        }
        .percentage-cancel {
          @include default-btn;
          @include boxShadow;
          margin-left: 2px;
        }
      }
    }
    label {
      font-size: 0.6rem;
    }
  }
}
