@media (min-width: 0px) and (max-width: 757px) {
  .setting-bar {
    position: fixed;
    right: 0;
    background: #e3e3e3;
    z-index: 1;
    height: 310px;
    width: 240px;
    border: 1px solid black;
    border-top: 5px solid black; }
    .setting-bar.hide {
      display: none; }
    .setting-bar .form-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .setting-bar .form-container .input-container {
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 5px; }
        .setting-bar .form-container .input-container .upbit-api,
        .setting-bar .form-container .input-container .upbit-secret,
        .setting-bar .form-container .input-container .binance-api,
        .setting-bar .form-container .input-container .binance-secret {
          border: 1px solid gray;
          margin-left: 2px; }
        .setting-bar .form-container .input-container .upbit-btn,
        .setting-bar .form-container .input-container .binance-btn {
          background-color: white;
          color: black;
          border-radius: 5px;
          border: none;
          cursor: pointer;
          box-shadow: 1px 1px 4px 0px #525252;
          margin-left: 2px; }
        .setting-bar .form-container .input-container input {
          width: 90px; }
        .setting-bar .form-container .input-container .clear-all-btn {
          width: 100%;
          background-color: #3498db;
          color: white;
          border-radius: 5px;
          border: none;
          cursor: pointer;
          box-shadow: 1px 1px 4px 0px #525252; }
      .setting-bar .form-container .setting-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 5px; }
        .setting-bar .form-container .setting-container .percentage-input {
          width: 95px;
          border: 1px solid gray; }
        .setting-bar .form-container .setting-container .percentage-btn {
          background-color: #3498db;
          color: white;
          border-radius: 5px;
          border: none;
          cursor: pointer;
          box-shadow: 1px 1px 4px 0px #525252;
          margin-left: 2px; }
        .setting-bar .form-container .setting-container .percentage-cancel {
          background-color: white;
          color: black;
          border-radius: 5px;
          border: none;
          cursor: pointer;
          box-shadow: 1px 1px 4px 0px #525252;
          margin-left: 2px; }
    .setting-bar label {
      font-size: 0.6rem; } }

@media (min-width: 758px) and (max-width: 1023px) {
  .setting-bar {
    position: fixed;
    right: 15px;
    top: 40px;
    background: #e3e3e3;
    z-index: 1;
    border: 1px solid black;
    border-top: 5px solid black;
    width: 260px; }
    .setting-bar.hide {
      display: none; }
    .setting-bar .form-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .setting-bar .form-container .input-container {
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 5px; }
        .setting-bar .form-container .input-container .upbit-api,
        .setting-bar .form-container .input-container .upbit-secret,
        .setting-bar .form-container .input-container .binance-api,
        .setting-bar .form-container .input-container .binance-secret {
          border: 1px solid gray;
          margin-left: 2px; }
        .setting-bar .form-container .input-container .upbit-btn,
        .setting-bar .form-container .input-container .binance-btn {
          background-color: white;
          color: black;
          border-radius: 5px;
          border: none;
          cursor: pointer;
          box-shadow: 1px 1px 4px 0px #525252;
          margin-left: 2px; }
        .setting-bar .form-container .input-container input {
          width: 90px; }
        .setting-bar .form-container .input-container .clear-all-btn {
          width: 100%;
          background-color: #3498db;
          color: white;
          border-radius: 5px;
          border: none;
          cursor: pointer;
          box-shadow: 1px 1px 4px 0px #525252; }
      .setting-bar .form-container .setting-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 5px; }
        .setting-bar .form-container .setting-container .percentage-input {
          width: 95px; }
        .setting-bar .form-container .setting-container .percentage-btn {
          background-color: #3498db;
          color: white;
          border-radius: 5px;
          border: none;
          cursor: pointer;
          box-shadow: 1px 1px 4px 0px #525252;
          margin-left: 2px; }
        .setting-bar .form-container .setting-container .percentage-cancel {
          background-color: white;
          color: black;
          border-radius: 5px;
          border: none;
          cursor: pointer;
          box-shadow: 1px 1px 4px 0px #525252;
          margin-left: 2px; }
    .setting-bar label {
      font-size: 0.6rem; } }

@media (min-width: 1024px) {
  .setting-bar {
    position: fixed;
    right: 15px;
    top: 40px;
    background: #e3e3e3;
    z-index: 1;
    border: 1px solid black;
    border-top: 5px solid black; }
    .setting-bar.hide {
      display: none; }
    .setting-bar .form-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .setting-bar .form-container .input-container {
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 5px; }
        .setting-bar .form-container .input-container input {
          width: 90px; }
        .setting-bar .form-container .input-container .upbit-api,
        .setting-bar .form-container .input-container .upbit-secret,
        .setting-bar .form-container .input-container .binance-api,
        .setting-bar .form-container .input-container .binance-secret {
          border: 1px solid gray;
          margin-left: 2px; }
        .setting-bar .form-container .input-container .upbit-btn,
        .setting-bar .form-container .input-container .binance-btn {
          background-color: white;
          color: black;
          border-radius: 5px;
          border: none;
          cursor: pointer;
          box-shadow: 1px 1px 4px 0px #525252;
          margin-left: 2px; }
        .setting-bar .form-container .input-container .clear-all-btn {
          width: 100%;
          background-color: #3498db;
          color: white;
          border-radius: 5px;
          border: none;
          cursor: pointer;
          box-shadow: 1px 1px 4px 0px #525252; }
      .setting-bar .form-container .setting-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 5px; }
        .setting-bar .form-container .setting-container .percentage-input {
          width: 95px; }
        .setting-bar .form-container .setting-container .percentage-btn {
          background-color: #3498db;
          color: white;
          border-radius: 5px;
          border: none;
          cursor: pointer;
          box-shadow: 1px 1px 4px 0px #525252;
          margin-left: 2px; }
        .setting-bar .form-container .setting-container .percentage-cancel {
          background-color: white;
          color: black;
          border-radius: 5px;
          border: none;
          cursor: pointer;
          box-shadow: 1px 1px 4px 0px #525252;
          margin-left: 2px; }
    .setting-bar label {
      font-size: 0.6rem; } }

@media (min-width: 0px) and (max-width: 757px) {
  .compare-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #e3e3e3;
    position: relative;
    font-size: 0.5rem; }
    .compare-container .first-exchange,
    .compare-container .second-exchange,
    .compare-container .compare-coin {
      padding: 3px; }
      .compare-container .first-exchange p,
      .compare-container .second-exchange p,
      .compare-container .compare-coin p {
        text-align: center; }
      .compare-container .first-exchange.first-exchange label,
      .compare-container .second-exchange.first-exchange label,
      .compare-container .compare-coin.first-exchange label {
        display: none; }
      .compare-container .first-exchange.compare-coin .coin-setting-btn,
      .compare-container .first-exchange.compare-coin .coin-setting-cancel,
      .compare-container .second-exchange.compare-coin .coin-setting-btn,
      .compare-container .second-exchange.compare-coin .coin-setting-cancel,
      .compare-container .compare-coin.compare-coin .coin-setting-btn,
      .compare-container .compare-coin.compare-coin .coin-setting-cancel {
        padding: 2px;
        background-color: white;
        color: black;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        box-shadow: 1px 1px 4px 0px #525252;
        margin-left: 2px; }
      .compare-container .first-exchange.compare-coin .coin-selector,
      .compare-container .second-exchange.compare-coin .coin-selector,
      .compare-container .compare-coin.compare-coin .coin-selector {
        width: 65px; }
      .compare-container .first-exchange.compare-coin .alarm-percent-input,
      .compare-container .second-exchange.compare-coin .alarm-percent-input,
      .compare-container .compare-coin.compare-coin .alarm-percent-input {
        width: 45px; }
    .compare-container .input-container {
      margin-left: 5px; }
      .compare-container .input-container input {
        margin-right: 5px; }
    .compare-container .setting {
      position: fixed;
      right: 15px;
      top: 10px;
      z-index: 5; }
      .compare-container .setting .setting-btn {
        display: flex;
        cursor: pointer;
        padding: 5px;
        border-radius: 50%;
        box-shadow: 1px 1px 1px 1px #a5a5a5; }
  .base-rate {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 0.5rem;
    background: #e3e3e3;
    border-radius: 5px;
    font-weight: 800;
    height: 40px;
    width: 100%;
    text-align: center; }
    .base-rate p {
      padding-right: 5px;
      margin-right: 5px;
      border-right: 1px solid black; }
      .base-rate p.btc-diff {
        border: none; }
  .coin-info-container {
    display: flex;
    flex-direction: column;
    align-items: none;
    justify-content: none;
    position: relative;
    padding: 5px;
    font-size: 0.5rem; }
    .coin-info-container .coin-head {
      cursor: pointer;
      font-weight: 800; }
    .coin-info-container .coin {
      display: flex;
      justify-content: flex-start;
      border-top: 1px solid #e3e3e3; }
      .coin-info-container .coin:first-child {
        border-top: none; }
      .coin-info-container .coin:last-child {
        border-bottom: 1px solid #e3e3e3; }
      .coin-info-container .coin p {
        width: 10%;
        margin-right: 5px;
        word-break: break-word; }
        .coin-info-container .coin p:first-child {
          width: 7%; }
        .coin-info-container .coin p.krw {
          font-size: 0.5rem;
          width: 100%;
          word-break: break-all; }
        .coin-info-container .coin p.btc {
          width: 100%;
          margin-top: 0;
          word-break: break-all; }
  .info-wrapper {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 160px;
    height: 180px;
    margin-right: 5px;
    border: 1px solid black;
    border-top: 5px solid black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #e3e3e3;
    overflow: hidden;
    padding-bottom: 20px; }
    .info-wrapper.binance-notice {
      right: 170px; }
      .info-wrapper.binance-notice .info {
        display: block;
        text-decoration: none;
        color: black; }
    .info-wrapper.close {
      height: 5px; }
    .info-wrapper .control-bar {
      position: relative; }
      .info-wrapper .control-bar span {
        position: absolute;
        right: 8px;
        margin: 5px; }
        .info-wrapper .control-bar span i {
          cursor: pointer; }
    .info-wrapper .info-container {
      overflow: scroll;
      height: 100%;
      -ms-overflow-style: none;
      /* IE and Edge */
      scrollbar-width: none; }
      .info-wrapper .info-container::-webkit-scrollbar {
        display: none; }
    .info-wrapper h5 {
      margin: 5px;
      display: inline-block; }
    .info-wrapper .info {
      font-size: 0.75rem;
      margin-left: 5px;
      word-break: break-all; } }

@media (min-width: 758px) and (max-width: 1023px) {
  .compare-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #e3e3e3;
    position: relative;
    font-size: 0.7rem; }
    .compare-container .first-exchange,
    .compare-container .second-exchange,
    .compare-container .compare-coin {
      padding: 10px; }
      .compare-container .first-exchange p,
      .compare-container .second-exchange p,
      .compare-container .compare-coin p {
        text-align: center; }
    .compare-container .input-container {
      margin-left: 5px; }
      .compare-container .input-container input {
        margin-right: 5px; }
    .compare-container .setting {
      position: fixed;
      right: 15px;
      top: 15px;
      z-index: 5; }
      .compare-container .setting .setting-btn {
        display: flex;
        cursor: pointer;
        padding: 5px;
        border-radius: 50%;
        box-shadow: 1px 1px 1px 1px #a5a5a5; }
  .base-rate {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 0.8rem;
    background: #e3e3e3;
    padding: 0px 5px;
    border-radius: 5px;
    font-weight: 800;
    min-width: 500px;
    height: 40px; }
    .base-rate p {
      padding-right: 5px;
      margin-right: 5px;
      border-right: 1px solid black; }
      .base-rate p.btc-diff {
        border: none; }
  .coin-info-container {
    display: flex;
    flex-direction: column;
    align-items: none;
    justify-content: none;
    position: relative;
    padding: 5px;
    font-size: 0.9rem; }
    .coin-info-container .coin-head {
      cursor: pointer;
      font-weight: 800; }
    .coin-info-container .coin {
      display: flex;
      justify-content: flex-start;
      border-top: 1px solid #e3e3e3; }
      .coin-info-container .coin:first-child {
        border-top: none; }
      .coin-info-container .coin:last-child {
        border-bottom: 1px solid #e3e3e3; }
      .coin-info-container .coin p {
        width: 12%;
        font-size: 0.8rem; }
        .coin-info-container .coin p:first-child {
          width: 8%; }
        .coin-info-container .coin p.krw {
          font-size: 0.8rem;
          width: 100%; }
        .coin-info-container .coin p.btc {
          width: 100%;
          margin-top: 0; }
  .info-wrapper {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 180px;
    height: 250px;
    margin-right: 5px;
    border: 1px solid black;
    border-top: 5px solid black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #e3e3e3;
    overflow: hidden;
    padding-bottom: 20px; }
    .info-wrapper.binance-notice {
      right: 185px; }
      .info-wrapper.binance-notice .info {
        display: block;
        text-decoration: none;
        color: black; }
    .info-wrapper.close {
      height: 5px; }
    .info-wrapper .control-bar {
      position: relative; }
      .info-wrapper .control-bar span {
        position: absolute;
        right: 8px;
        margin: 5px; }
        .info-wrapper .control-bar span i {
          cursor: pointer; }
    .info-wrapper .info-container {
      overflow: scroll;
      height: 100%;
      -ms-overflow-style: none;
      /* IE and Edge */
      scrollbar-width: none; }
      .info-wrapper .info-container::-webkit-scrollbar {
        display: none; }
    .info-wrapper h5 {
      margin: 5px;
      display: inline-block; }
    .info-wrapper .info {
      font-size: 0.75rem;
      margin-left: 5px;
      word-break: break-all; } }

@media (min-width: 1024px) {
  .compare-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #e3e3e3;
    position: relative;
    font-size: 0.7rem; }
    .compare-container .first-exchange,
    .compare-container .second-exchange,
    .compare-container .compare-coin {
      padding: 10px; }
      .compare-container .first-exchange p,
      .compare-container .second-exchange p,
      .compare-container .compare-coin p {
        text-align: center; }
    .compare-container .input-container {
      margin-left: 5px; }
      .compare-container .input-container input {
        margin-right: 5px; }
    .compare-container .setting {
      position: fixed;
      right: 15px;
      top: 15px;
      z-index: 5; }
      .compare-container .setting .setting-btn {
        display: flex;
        cursor: pointer;
        padding: 5px;
        border-radius: 50%;
        box-shadow: 1px 1px 1px 1px #a5a5a5; }
  .base-rate {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 0.8rem;
    background: #e3e3e3;
    padding: 0px 5px;
    border-radius: 5px;
    font-weight: 800;
    min-width: 500px;
    height: 40px; }
    .base-rate p {
      padding-right: 5px;
      margin-right: 5px;
      border-right: 1px solid black; }
      .base-rate p.btc-diff {
        border: none; }
  .coin-info-container {
    display: flex;
    flex-direction: column;
    align-items: none;
    justify-content: none;
    position: relative;
    padding: 5px;
    font-size: 0.9rem; }
    .coin-info-container .coin-head {
      cursor: pointer;
      font-weight: 800; }
    .coin-info-container .coin {
      display: flex;
      justify-content: flex-start;
      border-top: 1px solid #e3e3e3; }
      .coin-info-container .coin:first-child {
        border-top: none; }
      .coin-info-container .coin:last-child {
        border-bottom: 1px solid #e3e3e3; }
      .coin-info-container .coin p {
        width: 9%; }
        .coin-info-container .coin p:first-child {
          width: 8%; }
        .coin-info-container .coin p.krw {
          font-size: 0.8rem;
          width: 100%; }
        .coin-info-container .coin p.btc {
          width: 100%;
          margin-top: 0; }
  .info-wrapper {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 250px;
    width: 200px;
    margin-right: 5px;
    border: 1px solid black;
    border-top: 5px solid black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #e3e3e3;
    overflow: hidden;
    padding-bottom: 20px; }
    .info-wrapper.binance-notice {
      right: 210px; }
      .info-wrapper.binance-notice .info {
        display: block;
        text-decoration: none;
        color: black; }
    .info-wrapper.upbit-notice .info {
      display: block; }
    .info-wrapper.close {
      height: 5px; }
    .info-wrapper .control-bar {
      position: relative; }
      .info-wrapper .control-bar span {
        position: absolute;
        right: 8px;
        margin: 5px; }
        .info-wrapper .control-bar span i {
          cursor: pointer; }
    .info-wrapper .info-container {
      overflow: scroll;
      height: 100%;
      -ms-overflow-style: none;
      /* IE and Edge */
      scrollbar-width: none; }
      .info-wrapper .info-container::-webkit-scrollbar {
        display: none; }
    .info-wrapper h5 {
      margin: 5px;
      display: inline-block; }
    .info-wrapper .info {
      font-size: 0.7rem;
      margin-left: 5px;
      word-break: break-all; } }

.form-container {
  padding-bottom: 5px;
  border-bottom: 1px solid black; }
  .form-container input[type="text"] {
    background: #eaeaea;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
    padding: 6px;
    font-size: 0.8rem;
    width: 200px;
    height: 20px; }
  .form-container input[type="submit"] {
    border: none;
    padding: 6px;
    margin-left: 5px;
    background: #86b0dc;
    color: white;
    font-weight: 800;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    width: 45px;
    height: 30px; }

.coin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px; }
  .coin-container .coin {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%; }
    .coin-container .coin p {
      width: 33%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.1rem; }
    .coin-container .coin .coin-name span {
      padding: 5px;
      border-radius: 10px;
      background: #0984e3;
      color: white;
      width: 50px;
      text-align: center; }
    .coin-container .coin span {
      cursor: pointer; }
