.setting-bar {
  position: fixed;
  right: 0;
  background: #e3e3e3;
  z-index: 1;
  height: 310px;
  width: 250px;
  border: 1px solid black;
  border-top: 5px solid black; }
  .setting-bar.hide {
    display: none; }
  .setting-bar .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .setting-bar .form-container .input-container {
      margin-left: 5px;
      margin-right: 5px;
      margin-top: 5px; }
      .setting-bar .form-container .input-container input {
        width: 90px; }
      .setting-bar .form-container .input-container .clear-all-btn {
        width: 100%; }
    .setting-bar .form-container .setting-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 5px; }
      .setting-bar .form-container .setting-container .percentage-input {
        width: 95px; }
  .setting-bar label {
    font-size: 0.6rem; }

.compare-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid #e3e3e3;
  position: relative;
  font-size: 0.7rem; }
  .compare-container .first-exchange,
  .compare-container .second-exchange,
  .compare-container .compare-coin {
    padding: 10px; }
    .compare-container .first-exchange p,
    .compare-container .second-exchange p,
    .compare-container .compare-coin p {
      text-align: center; }
  .compare-container .input-container {
    margin-left: 5px; }
    .compare-container .input-container input {
      margin-right: 5px; }
  .compare-container .setting {
    position: fixed;
    right: 15px;
    z-index: 5; }
    .compare-container .setting .setting-btn {
      display: flex;
      cursor: pointer;
      padding: 5px;
      border-radius: 50%;
      box-shadow: 1px 1px 1px 1px #a5a5a5; }

.base-rate {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 0.8rem;
  background: #e3e3e3;
  padding: 0px 5px;
  border-radius: 5px;
  font-weight: 800;
  min-width: 500px;
  height: 40px; }
  .base-rate p {
    padding-right: 5px;
    margin-right: 5px;
    border-right: 1px solid black; }
    .base-rate p.btc-diff {
      border: none; }

.coin-info-container {
  display: flex;
  flex-direction: column;
  align-items: none;
  justify-content: none;
  position: relative;
  padding: 5px;
  font-size: 0.9rem; }
  .coin-info-container .coin {
    display: flex;
    justify-content: flex-start;
    border-top: 1px solid #e3e3e3; }
    .coin-info-container .coin:first-child {
      border-top: none; }
    .coin-info-container .coin:last-child {
      border-bottom: 1px solid #e3e3e3; }
    .coin-info-container .coin p {
      width: 13%; }
      .coin-info-container .coin p:first-child {
        width: 8%; }
      .coin-info-container .coin p.krw {
        font-size: 0.8rem;
        width: 100%; }
      .coin-info-container .coin p.btc {
        width: 100%;
        margin-top: 0; }
  .coin-info-container .info-wrapper {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 250px;
    margin-right: 5px;
    border: 1px solid black;
    border-top: 5px solid black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #e3e3e3; }
    .coin-info-container .info-wrapper.close {
      height: 25px; }
    .coin-info-container .info-wrapper .control-bar {
      position: relative; }
      .coin-info-container .info-wrapper .control-bar span {
        position: absolute;
        right: 8px;
        margin: 5px; }
        .coin-info-container .info-wrapper .control-bar span i {
          cursor: pointer; }
    .coin-info-container .info-wrapper .info-container {
      overflow: scroll;
      height: 100%;
      -ms-overflow-style: none;
      /* IE and Edge */
      scrollbar-width: none; }
      .coin-info-container .info-wrapper .info-container::-webkit-scrollbar {
        display: none; }
    .coin-info-container .info-wrapper h5 {
      margin: 5px;
      display: inline-block; }
    .coin-info-container .info-wrapper .info {
      font-size: 0.75rem;
      margin-left: 5px;
      word-break: break-all; }
